/*
 * Latin subsets supplied by @fontsource/inter and @fontsource/orbitron 5.2.8.
 * Both font packages are distributed under the SIL Open Font License 1.1.
 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/inter/files/inter-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/inter/files/inter-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/orbitron/files/orbitron-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/orbitron/files/orbitron-latin-700-normal.woff2') format('woff2');
}
